.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0px 4px 11px 0px #1D1D1D30;
    margin-top: 2em;
    margin-bottom: 2em;

}

.title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.content {
    margin-bottom: 1.5rem;
}

.voteButtons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.commentsHeader {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.commentForm {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.commentInput {
    flex: 1;
    padding: 0.5rem;
 border-radius: 15px;
    border: 0.5px solid grey;
    box-shadow: 0px 4px 11px 0px #1D1D1D30;

}

.commentList {
    list-style: none;
    padding: 0;
}
.commentSubmit{
    align-items: center;
    background-color: #ADF2B3;
    border: none;
    border-radius: 999px;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-size: .875rem;
    font-weight: 700;
    gap: .25rem;
    height: 2.5rem;
    justify-content: center;
    letter-spacing: -.08px;
    line-height: 1.25rem;
    outline: none;
    padding: 0 .75rem;
    position: relative;
    white-space: nowrap;
}